.benefits {
  margin-top: 130px;

  &__title {
  }

  &__item {
    position: relative;
    margin: 50px 50px;

    @media (max-width: 900px) {
      margin: 30px 50px;
    }
  }

  &__blocks {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 60px;

    @media (max-width: 900px) {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
    }
  }

  &__block {
    max-width: 400px;
    border: 5px solid #eb4a4b;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  &__text {
  }

  &__subtext {
    margin-top: 10px;

    font-weight: 400;
    font-size: 1.25rem; //20px
    line-height: 27px;

    @media (max-width: 700px) {
      font-size: 1rem; // 16px
    }
  }

  &__image {
    position: absolute;
    left: 359px;
    top: 115px;
    max-width: 350px;

    @media (max-width: 1170px) {
      display: none;
    }
  }

  &__footer {
    margin-bottom: 50px;
  }
}
