//=== STYLES FOR HERO ===//
.hero {
  margin-top: 70px;
  margin-bottom: 70px;

  // .hero__content

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 890px) {
      justify-content: center;
    }
  }

  // .hero__item

  &__item {
    max-width: 725px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  // .hero__text

  &__text {
  }

  // .hero__subtext

  &__subtext {
    // .hero__subtext_item
    // text-align: left;

    &_item {
      color: #e8e1e1;
    }
  }

  // .hero__fon

  &__fon {

    @media (max-width: 890px) {
      display: none;
    }
  }

  // .hero__img

  &__img {
  }
}
