<section class="hero">
  <div class="container">
    <div class="hero__content" id="assembly">
      <div class="hero__item">
        <h2 class="hero__text text-h2">Why did I make this assembly?</h2>
        <p class="hero__subtext subtitle">
          Gulp-build is a powerful tool
          <span class="hero__subtext_item">for automating</span> the web
          application development process. I decided to make my own build to
          streamline the workflow and
          <span class="hero__subtext_item">speed up</span> web application
          development.<br />

          When creating my build, I thought about the fact that every developer
          has different <span class="hero__subtext_item">preferences</span> and
          <span class="hero__subtext_item">requirements</span> to the
          development process. So in my build, I made sure to allow for
          customization
          <span class="hero__subtext_item">to meet specific needs</span>.<br />

          In my build, I've included features such as image
          <span class="hero__subtext_item">compression</span> and
          <span class="hero__subtext_item">optimization</span>,
          <span class="hero__subtext_item">automatic page refresh</span> when
          code changes, CSS
          <span class="hero__subtext_item">preprocessor compilation</span>, and
          <span class="hero__subtext_item">more</span>.
        </p>
      </div>
      <div class="hero__fon">
        <img
          src="https://raw.githubusercontent.com/gulpjs/artwork/master/gulp-2x.png"
          alt="/"
          class="hero__img"
        />
      </div>
    </div>
  </div>
</section>
