<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__item">
        <h2 class="hero__text">Why did I make this assembly?</h2>
        <p class="hero__subtext">
          The build is made to
          <span class="hero__subtext_item">make life easier</span> for the
          frontend developer. This build saves thousands of hours of my
          <span class="hero__subtext_item">(and hopefully now your)</span> time.
          She is finely tuned for
          <span class="hero__subtext_item">all occasions</span>.
        </p>
      </div>
    </div>
  </div>
</section>
