<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__item">
        <h2 class="hero__text text-h2">Why did I make this assembly?</h2>
        <p class="hero__subtext subtitle">
          The build is made to
          <span class="hero__subtext_item">make life easier</span> for the
          frontend developer. This build saves thousands of hours of my
          <span class="hero__subtext_item">(and hopefully now your)</span> time.
          She is finely tuned for
          <span class="hero__subtext_item">all occasions</span>.
        </p>
      </div>
      <div class="hero__fon">
        <img
          src="https://raw.githubusercontent.com/gulpjs/artwork/master/gulp-2x.png"
          alt="/"
          class="hero__img"
        />
      </div>
    </div>
  </div>
</section>
