<section class="benefits">
  <div class="container">
    <h2 class="benefits__title text-h2">Benefits of working with gulp</h2>
    <div class="benefits__item">
      <div class="benefits__block">
        <p class="benefits__text">Easily customizable environment</p>
        <p class="benefits__subtext">
          Gulp provides ready-made plugins for many tasks, such as image
          compression, CSS and JS minification, file assembly, etc. These
          plugins can be easily customized and created according to your needs
          and requirements.
        </p>
      </div>
      <div class="benefits__block">
        <p class="benefits__text">Faster development</p>
        <p class="benefits__subtext">
          With Gulp, you can automatically perform tasks, such as reloading the
          browser when files change, reducing the time it takes to set up the
          development environment and speeding up the overall development
          process.
        </p>
      </div>
      <div class="benefits__block">
        <p class="benefits__text">Simple and flexible syntax</p>
        <p class="benefits__subtext">
          Gulp's syntax is based on an array of JavaScript, making it more
          intuitive and accessible for novice developers. In addition, because
          of its easy and flexible syntax, Gulp can be easily extended and
          customized.
        </p>
      </div>
      <div class="benefits__block">
        <p class="benefits__text">Support for Local Tasks</p>
        <p class="benefits__subtext">
          Gulp allows you to create local tasks for easier portability between
          projects. That way, you can update versions of plugins and tasks in
          one project without affecting others.
        </p>
      </div>
    </div>
  </div>
</section>
