<!-- FAREWELL -->
<section class="farewell" id="farewell">
  <div class="container">
    <h2 class="farewell__title text-h2">Words of farewell</h2>
    <div class="farewell__item">
      <p class="farewell__text subtitle">
        Front-end development is one of the most in-demand fields in programming
        these days. If you love creating websites and user application
        interfaces, you may fall in love with this profession. But there are
        many opinions about the best way to start your career and what skills
        you need to learn to be successful in this field.
      </p>
      <p class="farewell__text subtitle">
        HTML, CSS and JavaScript are the main languages used in Front-end
        development.
      </p>
      <p class="farewell__text subtitle">
        It is necessary to have practical experience using modern development
        tools such as Git, Visual Studio Code, Webpack, ESLint, Prettier and
        others. These tools make it easy to manage code, organize it and make it
        cleaner and more readable.
      </p>
      <p class="farewell__text subtitle">
        Frontend development is constantly changing and evolving, so it's
        important to keep up with new technologies and development
        methodologies. One way to do this is to read blogs, attend conferences,
        and watch lectures and seminars.
      </p>
      <p class="farewell__text subtitle">
        Front-end development is an interesting and exciting area in
        programming. It requires knowledge not only in programming, but also in
        design and communication.
      </p>
      <p class="farewell__text subtitle">
        Most importantly, don't forget to strive for self-improvement, learn new
        things and work in a team.
      </p>
      <p class="farewell__text subtitle">Good luck to you</p>
    </div>
  </div>
</section>
