<form name="form" class="forma__form" action="#">
  <div class="forma__column">
    <div class="forma__item">
      <label class="forma__label">
        Имя
        <input
          type="text"
          placeholder="Введите Ваше имя"
          class="forma__input"
        />
      </label>
    </div>
    <div class="forma__item">
      <label class="forma__label"
        >Направление
        <select class="forma__input">
          <option value="Куда хотите ехать" class="forma__input">
            Куда хотите ехать
          </option>
          <option value="Туда" class="forma__input">Туда</option>
          <option value="Сюда" class="forma__input">Сюда</option>
          <option value="Отсюда" class="forma__input">Отсюда</option>
        </select>
      </label>
    </div>
  </div>
  <div class="forma__column">
    <div class="forma__item">
      <label class="forma__label">
        Email
        <input
          type="email"
          class="forma__input"
          placeholder="example@mail.com"
          required
        />
      </label>
    </div>
    <div class="forma__item">
      <label class="forma__label">
        Телефон
        <input
          type="tel"
          name="tel"
          class="forma__input"
          placeholder="+ 7 ( _ _ _ ) _ _ _ - _ _ - _ _"
          required
          id="tel"
          minlength="6"
          maxlength="12"
        />
      </label>
    </div>
  </div>
  <div class="forma__column">
    <div class="forma__item">
      <label class="forma__label">
        Дата от
        <input
          type="text"
          class="forma__input"
          placeholder="ДД.ММ.ГГГГ"
          required
        />
      </label>
    </div>
    <div class="forma__item">
      <label class="forma__label">
        Дата до
        <input
          type="text"
          class="forma__input"
          placeholder="ДД.ММ.ГГГГ"
          required
        />
      </label>
    </div>
  </div>
  <div class="forma__comments">
    <label class="forma__label"
      >Комментарий
      <textarea
        class="forma__comment"
        name=""
        id=""
        cols="133"
        rows="7"
      ></textarea>
    </label>
  </div>
  <div class="forma__age">
    <label class="forma__label">Вам есть 18 лет?</label>
    <div class="forma__radios">
      <div class="forma__radio">
        <label class="forma__labels">
          Да
          <input
            type="radio"
            class="forma__hiding"
            name="forma__radio"
            value="yes"
          />
          <span class="forma__span"></span>
        </label>
      </div>
      <div class="forma__radio">
        <label class="forma__labels">
          Нет
          <input
            type="radio"
            class="forma__hiding"
            name="forma__radio"
            value="no"
          />
          <span class="forma__span"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="forma__licenses">
    <label class="forma__license">
      <input type="checkbox" class="forma__license_input" />
      <span class="forma__checkbox"></span>
      Нажимая кнопку, я принимаю условия
      <a href="#" class="forma__license_link">Лицензионного договора</a>
    </label>
  </div>
</form>
