<section class="gallery">
  <div class="container">
    <div class="gallery__hat">
      <h2 class="gallery__title text-h2">A brief overview of the assembly</h2>
      <p class="gallery__subtitle subtitle">
        Hover over the picture to learn more
      </p>
    </div>
    <div class="gallery__block">
      <ul class="gallery__pictures">
        <li>
          <img
            class="gallery__img"
            src="../../assets/image/img1.png"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidefirst">
          <img
            class="gallery__img"
            src="../../assets/image/img2.png"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidesecond">
          <img
            class="gallery__img"
            src="../../assets/image/img3.png"
            alt="Gallery"
          />
        </li>
        <li>
          <img
            class="gallery__img"
            src="../../assets/image/img4.png"
            alt="Gallery"
          />
        </li>
      </ul>
      <ul class="gallery__picture">
        <li>
          <img
            class="gallery__image"
            src="../../assets/image/img5.png"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidesecond">
          <img
            class="gallery__image"
            src="../../assets/image/img6.png"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidefirst">
          <img
            class="gallery__image"
            src="../../assets/image/img7.png"
            alt="Gallery"
          />
        </li>
        <li>
          <img
            class="gallery__image"
            src="../../assets/image/img8.png"
            alt="Gallery"
          />
        </li>
        <li>
          <img
            class="gallery__image"
            src="../../assets/image/img9.png"
            alt="Gallery"
          />
        </li>
      </ul>
      <ul class="gallery__pictures">
        <li>
          <img
            class="gallery__img"
            src="../../assets/image/img10.png"
            alt="Gallery"
          />
        </li>
        <li>
          <img
            class="gallery__img"
            src="../../assets/image/img11.png"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidesecond">
          <img
            class="gallery__img"
            src="../../assets/image/img12.png"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidefirst">
          <img
            class="gallery__img"
            src="../../assets/image/img13.png"
            alt="Gallery"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
