<section class="gallery">
  <div class="container">
    <div class="gallery__hat">
      <h2 class="gallery__title title-h2">Фотографии путешествий</h2>
      <p class="gallery__subtitle subtitle">
        Beatae error vitae, porro, quas eum dolore dolores !
      </p>
    </div>
    <div class="gallery__block">
      <ul class="gallery__pictures">
        <li>
          <img class="gallery__img" src="" alt="Gallery" />
        </li>
        <li class="gallery__block_hidefirst">
          <img class="gallery__img" src="" alt="Gallery" />
        </li>
        <li class="gallery__block_hidesecond">
          <img class="gallery__img" src="" alt="Gallery" />
        </li>
        <li>
          <img class="gallery__img" src="" alt="Gallery" />
        </li>
      </ul>
      <ul class="gallery__picture">
        <li>
          <img class="gallery__image" src="" alt="Gallery" />
        </li>
        <li class="gallery__block_hidesecond">
          <img class="gallery__image" src="" alt="Gallery" />
        </li>
        <li class="gallery__block_hidefirst">
          <img class="gallery__image" src="" alt="Gallery" />
        </li>
        <li>
          <img class="gallery__image" src="" alt="Gallery" />
        </li>
        <li>
          <img class="gallery__image" src="" alt="Gallery" />
        </li>
      </ul>
      <ul class="gallery__pictures">
        <li>
          <img class="gallery__img" src="" alt="Gallery" />
        </li>
        <li>
          <img class="gallery__img" src="" alt="Gallery" />
        </li>
        <li class="gallery__block_hidesecond">
          <img class="gallery__img" src="" alt="Gallery" />
        </li>
        <li class="gallery__block_hidefirst">
          <img class="gallery__img" src="" alt="Gallery" />
        </li>
      </ul>
    </div>
  </div>
</section>
