<section class="gallery">
  <div class="container">
    <div class="gallery__hat">
      <h2 class="gallery__title text-h2">A brief overview of the assembly</h2>
      <p class="gallery__subtitle subtitle">
        Hover over the picture to learn more
      </p>
    </div>
    <div class="gallery__block">
      <ul class="gallery__pictures">
        <li class="gallery__hov">
          <img
            class="gallery__img"
            src="../../assets/image/img1.png"
            alt="Gallery"
            id="1"
          />
          <p class="gallery__click">Click me</p>
        </li>
        <li class="gallery__block_hidefirst gallery__hov">
          <img
            class="gallery__img"
            src="../../assets/image/img2.png"
            alt="Gallery"
            id="2"
          />
          <p class="gallery__click">Click me</p>
        </li>
        <li class="gallery__block_hidesecond gallery__hov">
          <img
            class="gallery__img"
            src="../../assets/image/img3.png"
            alt="Gallery"
            id="3"
          />
          <p class="gallery__click">Click me</p>
        </li>
        <li class="gallery__hov">
          <img
            class="gallery__img"
            src="../../assets/image/img4.png"
            alt="Gallery"
            id="4"
          />
          <p class="gallery__click">Click me</p>
        </li>
      </ul>
      <ul class="gallery__picture">
        <li class="gallery__hov">
          <img
            class="gallery__image"
            src="../../assets/image/img5.png"
            alt="Gallery"
            id="5"
          />
          <p class="gallery__click">Click me</p>
        </li>
        <li class="gallery__block_hidesecond gallery__hov">
          <img
            class="gallery__image"
            src="../../assets/image/img6.png"
            alt="Gallery"
            id="6"
          />
          <p class="gallery__click">Click me</p>
        </li>
        <li class="gallery__block_hidefirst gallery__hov">
          <img
            class="gallery__image"
            src="../../assets/image/img7.png"
            alt="Gallery"
            id="7"
          />
          <p class="gallery__click">Click me</p>
        </li>
        <li class="gallery__hov">
          <img
            class="gallery__image"
            src="../../assets/image/img8.png"
            alt="Gallery"
            id="8"
          />
          <p class="gallery__click">Click me</p>
        </li>
        <li class="gallery__hov">
          <img
            class="gallery__image"
            src="../../assets/image/img9.png"
            alt="Gallery"
            id="9"
          />
          <p class="gallery__click">Click me</p>
        </li>
      </ul>
      <ul class="gallery__pictures">
        <li class="gallery__hov">
          <img
            class="gallery__img"
            src="../../assets/image/img10.png"
            alt="Gallery"
            id="10"
          />
          <p class="gallery__click">Click me</p>
        </li>
        <li class="gallery__hov">
          <img
            class="gallery__img"
            src="../../assets/image/img11.png"
            alt="Gallery"
            id="11"
          />
          <p class="gallery__click">Click me</p>
        </li>
        <li class="gallery__block_hidesecond gallery__hov">
          <img
            class="gallery__img"
            src="../../assets/image/img12.png"
            alt="Gallery"
            id="12"
          />
          <p class="gallery__click">Click me</p>
        </li>
        <li class="gallery__block_hidefirst gallery__hov">
          <img
            class="gallery__img"
            src="../../assets/image/img13.png"
            alt="Gallery"
            id="13"
          />
          <p class="gallery__click">Click me</p>
        </li>
      </ul>
    </div>
  </div>
</section>
