<nav class="navbar">
  <div class="navbar__content">
    <div class="navbar__logo">
      LOREMIPSUM.<span class="navbar__span">NET</span>
    </div>
    <div class="hamburger">
      <span class="hamburger__bar"></span>
      <span class="hamburger__bar"></span>
      <span class="hamburger__bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__list"><a class="navbar__link" href="#">БИЗНЕС</a></li>
      <li class="navbar__list"><a class="navbar__link" href="#">О НАС</a></li>
      <li class="navbar__list"><a class="navbar__link" href="#">ЦЕНЫ</a></li>
      <li class="navbar__list">
        <a class="navbar__link" href="#">ОФОРМИТЬ ЗАКАЗ</a>
      </li>
    </ul>
  </div>
</nav>
